OLLAMA_IP=
# Generate a random 32-character string for the secret key -> `openssl rand -hex 16`
WEBUI_SECRET_KEY=
OPEN_WEBUI_IP=

#Optional environment variables
OLLAMA_DATA_FOLDER=
OPEN_WEBUI_DATA_FOLDER=