services:
  ollama:
    image: ollama/ollama
    container_name: ollama
    restart: always
    ports:
      - "${OLLAMA_PORT:-11434}:11434"
    volumes:
      - ${OLLAMA_DATA_FOLDER:-./ollama_data}:/root/.ollama
    devices:
      - /dev/dri:/dev/dri
    environment:
      - OLLAMA_VULKAN=1
      - HSA_OVERRIDE_GFX_VERSION=8.0.3
    networks:
      - net

  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    restart: always
    ports:
      - "${OPEN_WEBUI_PORT:-3000}:8080"
    volumes:
      - ${OPEN_WEBUI_DATA_FOLDER:-./open-webui_data}:/app/backend/data
    environment:
      - OLLAMA_BASE_URL=http://ollama:11434
    depends_on:
      - ollama
    networks:
      - net

networks:
  net:
    name: ollama-net